---
import { useTranslations } from "@/i18n/utils";
import composeCDNAssetLink from "@/utils/composeCDNAssetLink";

const t = useTranslations(Astro.url.pathname);
---

<footer>
  <div class="innerContainer">
    <div>
      <div>
        <img
          src={composeCDNAssetLink("gdlauncher_wide_logo.webp")}
          alt="gdlauncher_wide_logo"
        />
        <p>
          {t("footer.text")}
        </p>
      </div>
      <div>
        <h3>{t("footer.home")}</h3>
        <a>{t("footer.about")}</a>
        <a>{t("footer.features")}</a>
        <a>{t("footer.team")}</a>
        <a>{t("footer.timeline")}</a>
        <a>{t("footer.contact")}</a>
      </div>
      <div>
        <h3>{t("footer.download")}</h3>
        <a>{t("footer.windows")}</a>
        <a>{t("footer.macos")}</a>
        <a>{t("footer.linux")}</a>
      </div>
      <div>
        <h3>{t("footer.legal")}</h3>
        <a>{t("footer.termsNCondition")}</a>
        <a>{t("footer.policy")}</a>
      </div>
    </div>
  </div>
  <div class="footerBottom">
    {t("footer.copyright_text")}
  </div>
</footer>

<style lang="scss">
  footer {
    height: auto;
    margin-bottom: 5rem;
    background-color: #0f172a;
    .innerContainer {
      height: 100%;
      width: 100%;
      max-width: 80rem;
      margin: 0 auto;

      & > div {
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
        justify-content: space-between;
        align-items: flex-start;
        color: white;

        div:first-child {
          display: flex;
          flex-direction: column;
          img {
            margin-bottom: 0;
          }
          p {
            font-size: 1.25rem;
            line-height: 1.75rem;
            max-width: 24rem;
            margin: 0;
          }
        }

        div {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: flex-start;
          gap: 1rem;
          h3 {
            font-weight: bold;
          }
          a {
            font-size: 1.25rem;
            line-height: 1.75rem;
            cursor: pointer;
            color: #94a3b8;
          }
        }
      }
    }
    .footerBottom {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      height: 5rem;
      font-size: 1.5rem;
      line-height: 2rem;
      background-color: #3b82f6;
      color: #e2e8f0;
    }
  }

  @media (min-width: 768px) {
    footer {
      height: 24rem;
      padding-top: 2rem;
      .innerContainer {
        & > div {
          gap: 0;
          padding-top: 0;
          padding-bottom: 0;
          flex-direction: row;
        }
      }
    }
  }

  @media (min-width: 1024px) {
    footer {
      margin-bottom: 0px;
    }
  }
</style>
