[workspace]
members = ["packages/core_module", "crates/*"]
resolver = "2"
exclude = ["crates/iridium"]

[profile.release]
split-debuginfo = "unpacked"

[profile.production]
inherits = "release"
debug = 2
codegen-units = 1
lto = true
opt-level = "s"
split-debuginfo = "unpacked"

[workspace.dependencies]
anyhow = { version = "1.0.51", features = ["backtrace"] }
async-recursion = "1.0.0"
async-stream = "0.3.3"
async-trait = "0.1.61"
axum = "0.6.2"
chrono = "0.4.23"
derive_more = "0.99.17"
directories = "4.0.1"
dirs = "4.0.0"
dotenvy = "0.15.6"
env_logger = "0.10.0"
flate2 = "1.0.25"
futures = "0.3.25"
http = "0.2.9"
httpdate = "1.0.2"
hyper = "0.14.25"
image = { version = "0.24.5", features = ["png"], default-features = false }
jsonwebtoken = "8.2.0"
lazy_static = "1.4.0"
libc = "0.2"
log = "0.4.17"
md-5 = "0.10.5"
mockall = "0.11.3"
murmurhash32 = { git = "https://github.com/gorilla-devs/murmurhash32" }
ntest = "0.9.0"
opener = "0.6.1"
prisma-client-rust = { git = "https://github.com/Brendonovich/prisma-client-rust", rev = "f71ad9122537c4ed29bf496a4a643947a5fe9aef", features = [
  "sqlite-create-many",
  "sqlite",
  "migrations",
], default_features = false }
prisma-client-rust-cli = { git = "https://github.com/Brendonovich/prisma-client-rust", rev = "f71ad9122537c4ed29bf496a4a643947a5fe9aef", features = [
  "sqlite-create-many",
  "sqlite",
  "migrations",
], default_features = false }
regex = "1.7.0"
reqwest = { version = "0.11.13", features = ["rustls-tls", "json"] }
reqwest-middleware = "0.2.0"
reqwest-retry = "0.2.1"
rspc = { git = "https://github.com/oscartbeaumont/rspc", rev = "60a4fa93187c20bc5cb565cc6ee30b2f0903840e" }
serde = "1.0.147"
serde_json = "1.0.89"
daedalus = { git = "https://github.com/gorilla-devs/daedalus", rev = "1a993eaef8f8aa13541983c15fa7b6aa0349fa77" }
sha1 = "0.10.5"
sha2 = "0.10.6"
tar = "0.4.38"
strum_macros = "0.24.3"
strum = "0.24.0"
thiserror = "1.0.38"
task-local-extensions = "0.1.4"
tokio = "1.25.0"
tokio-stream = "0.1.11"
toml = "0.7.3"
tower-http = "0.3.4"
hex = "0.4"
tracing = "0.1.37"
tracing-test = "0.2.3"
trash = "3.0.0"
uuid = "1.2.2"
winreg = "0.10.1"
zip = "0.6.3"
tempdir = "0.3.7"
sentry = "0.30.0"
syn = "2.0.11"
quote = "1.0.26"
url = "2.3.1"
serde_repr = "0.1"
proc-macro2 = "1.0.56"
