---
import languages from "@/i18n/languages";
import MainWrapper from "@/layouts/MainWrapper.astro";

export function getStaticPaths() {
  return Object.keys(languages).map((lang) => ({ params: { lang } }));
}
---

<MainWrapper>
  <div>privacy policy</div>
</MainWrapper>
