---
import { type CollectionEntry, getCollection } from "astro:content";
import BlogPost from "../../layouts/BlogPost.astro";
import Docs from "../../layouts/Docs.astro";

export async function getStaticPaths() {
  const posts = await getCollection("docs");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}
---

<Docs title="" category="">
  <style>

  </style>
  <header>
        <h1>Welcome to Our Documentation</h1>
    </header>

    <section>
        <h2>Introduction</h2>
        <p>Welcome to the documentation page for our project. Here, you will find all the necessary information to get started, understand, and effectively use our product.</p>
    </section>

    <section>
        <h2>Getting Started</h2>
        <p>This section will guide you through the initial steps required to set up and start using our product.</p>
    </section>

    <section>
        <h2>Features</h2>
        <p>Explore the unique features and capabilities of our product, and learn how they can benefit your workflow.</p>
    </section>
</Docs>
