---
import Icon from "@/components/Icon";
import SEO from "@/components/SEO/index.astro";
import composeCDNAssetLink from "@/utils/composeCDNAssetLink";
import ArrowRight from "@/components/Icons/ArrowLeft";
import languages from "@/i18n/languages";
import HiringWrapper from "@/layouts/HiringWrapper.astro";
import { localizePath } from "@/utils/helpers";
import MainWrapper from "@/layouts/MainWrapper.astro";
import CenteredWrapper from "@/layouts/CenteredWrapper.astro";
import { useTranslations } from "@/i18n/utils";

export const getStaticPaths = () => {
  return Object.keys(languages).map((lang) => ({ params: { lang } }));
};

const { lang } = Astro.params;
const t = useTranslations(Astro.url.pathname);
---

<SEO
  title="GDLauncher - Open Positions"
  description="GDLauncher opened positions. Apply now!"
/>

<CenteredWrapper>
  <div class="flex justify-center flex-col items-center">
    <div>
      <img
        src={composeCDNAssetLink("gdlauncher_wide_logo_blue.svg")}
        alt="logo"
        class="cursor-pointer h-32 lg:h-16 my-8 inline flex lg:hidden"
      />
    </div>
    <h1 class="flex flex-col lg:block text-4xl lg:text-7xl font-bold">
      {t("careers.title")}
    </h1>
    <div class="text-slate-100 mt-8 mb-12 text-5xl lg:text-base">
      {t("careers.text")}
    </div>
    <!-- <a
      href={localizePath("/fe", lang?.toString() || "en")}
      class="transition ease-in-out border-slate-300 border-2 hover:bg-gray-800 rounded mb-16 lg:mb-4 text-slate-400 px-16 py-32 lg:p-8 w-full lg:w-80 text-5xl lg:text-base flex items-center justify-between"
    >
      Front End Engineer <ArrowRight
        class="ease-linear duration-100 w-4 h-4 -rotate-180"
      />
    </a> -->
    <a
      href={localizePath("/rust", lang?.toString() || "en")}
      class="transition ease-in-out border-slate-300 border-2 hover:bg-gray-800 rounded mb-16 lg:mb-4 text-slate-400 px-16 py-32 lg:p-8 w-full lg:w-80 text-5xl lg:text-base flex items-center justify-between"
    >
      Rust Engineer <ArrowRight
        class="ease-linear duration-100 w-4 h-4 -rotate-180"
      />
    </a>
    <!-- <a
      href={localizePath("/design", lang?.toString() || "en")}
      class="transition ease-in-out border-slate-300 border-2 hover:bg-gray-800 rounded mb-16 lg:mb-4 text-slate-400 px-16 py-32 lg:p-8 w-full lg:w-80 text-5xl lg:text-base flex items-center justify-between"
    >
      UI / UX Designer <ArrowRight
        class="ease-linear duration-100 w-4 h-4 -rotate-180"
      />
    </a> -->
  </div>
</CenteredWrapper>
