---
import DownloadSection from "@/components/DownloadSection";
import DonateKofiSection from "@/components/DonateKofiSection/index.astro";
import PartnerSection from "@/components/PartnerSection/index.astro";
import languages from "@/i18n/languages";
import SimpleWrapper from "@/layouts/SimpleWrapper.astro";

export const getStaticPaths = () => Object.keys(languages).map((lang) => ({ params: { lang } }));
---

<SimpleWrapper>
    <div>
        <DownloadSection client:idle pathname={Astro.url.pathname} />
        <DonateKofiSection />
        <PartnerSection />
    </div>
</SimpleWrapper>
