---
import languages from "@/i18n/languages";
import { useTranslations } from "@/i18n/utils";
import MainWrapper from "@/layouts/MainWrapper.astro";
import SEO from "@/components/SEO/index.astro";

export const getStaticPaths = () => {
  return Object.keys(languages).map((lang) => ({ params: { lang } }));
};

const t = useTranslations(Astro.url.pathname);
---

<SEO title="GDLauncher - 404" description="Ops, page not found!" />

<MainWrapper>
  <div
    class="relative flex flex-col justify-center items-center pt-1 pb-10 box-border h-[calc(100vh-5.5rem)] lg:h-screen"
  >
    <h1 class="text-5xl lg:text-7xl font-bol">
      {t("generic.404")}
    </h1>
  </div>
</MainWrapper>
