---
import "@fontsource/ubuntu";
---



<html>
    <head>
        <title>GDLauncher - Successfully subscribed to the newsletter</title>
    </head>
    <style>
        body {
        font-family: "Ubuntu", cursive;
        /* background-color: rgba(29, 32, 40, 1); */
        background-image: linear-gradient(
            rgba(23, 29, 39, 0.3),
            /* Your specified semi-transparent color */ rgba(23, 29, 39, 0.3)
          ),
          url("../assets/bg.svg");
        background-size: cover;
        /* background-position: center; */
        background-repeat: no-repeat;
        background-color: rgba(29, 32, 40, 1);
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      h1 {
        color: white;
        font-size: 3rem
      }
      img {
        max-width: 100%;
        height: 2rem;
      }
    </style>
    <body>
        <h1>You have successfully subscribed to the newsletter</h1>
    </body>
</html>