---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Button from "../components/button/Button";
import { Image } from "astro:assets";
import BHLogo from "../assets/bh.svg";
import '@fontsource/ubuntu';
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
		body {
			font-family: "Ubuntu", cursive;
		}
      .background {
        background-image: linear-gradient(
            rgba(23, 29, 39, 0.3),
            /* Your specified semi-transparent color */ rgba(23, 29, 39, 0.3)
          ),
          url("../assets/bg.svg");
        background-size: cover;
        /* background-position: center; */
        background-repeat: no-repeat;
        background-color: rgba(29, 32, 40, 1);
      }
    </style></head
  >

  <body>
    <div class="min-h-screen background flex flex-col">
      <Header />
      <div class="flex flex-1 flex-col items-center justify-center gap-4">
        <Button intent="secondary" className="rounded-xsgd" >
          <div class="flex items-center gap-2">
            <Image src={BHLogo} width="24" height="26" alt="bh logo" />
             Get 25% OFF Minecraft Server Hosting w/ BisectHosting
          </div>
        </Button>
        <Button
          intent="transparent"
          size="medium"
          className="uppercase cursor-default"
        >
          NEW GDLauncher 2.0 Out Now!
        </Button>
        <div class="flex flex-col">
          <span class="text-mdgd text-center font-bold text-white">
            Elevate your Modded Minecraft
		  </span>
          <span class="text-mdgd text-center font-bold text-white">
            Journey with GDLauncher
		  </span>
		  <span class="font-smgd text-graygd text-center">
			Your All-In-One Minecraft Modded Launcher
		  </span>
        </div>
		<Button isDropdown={true} intent="primary" size="medium">DOWNLOAD FOR</Button>
      </div>

      <!-- <Footer /> -->
    </div>
  </body>
</html>
