---
import Button from "@/components/Button";
import ModLoaderSection from "@/components/ModLoaderSection";
import DonateKofiSection from "@/components/DonateKofiSection/index.astro";
import { useTranslations } from "@/i18n/utils";
import MainWrapper from "@/layouts/MainWrapper.astro";
import composeCDNAssetLink from "@/utils/composeCDNAssetLink";
import { localizePath } from "@/utils/helpers";
import languages from "@/i18n/languages";
import CaretIcon from "@/components/Icons/CaretIcon";
import SEO from "@/components/SEO/index.astro";

export function getStaticPaths() {
    return Object.keys(languages).map((lang) => ({ params: { lang } }));
}

const { lang } = Astro.params;

// @ts-ignore
const t = useTranslations(Astro.url.pathname);
---

<SEO title="GDLauncher - Home" description="GDLauncher home page" />

<MainWrapper>
    <div class="h-auto relative">
        <div
            class={`relative flex flex-col justify-center items-center pt-20 px-10 lg:pt-1 pb-10 box-border h-auto lg:h-screen
            bg-[url("https://edge.gdlauncher.com/assets/mc_panda.jpg")] bg-no-repeat`}
        >
            <div class="absolute top-0 bottom-0 left-0 right-0">
                <div
                    class="absolute top-0 bottom-0 left-0 right-0 z-10 opacity-95 bg-slate-800"
                >
                </div>
            </div>
            <div
                class="w-4/5 lg:w-full z-20 flex flex-col-reverse lg:flex-row justify-between items-center gap-10 lg:gap-20 max-w-7xl mt-0 lg:mt-24"
            >
                <div class="py-0 px-4 max-w-2xl">
                    <h3 class="text-5xl lg:text-8xl mb-2 font-bold">
                        {t("home.title")}
                    </h3>
                    <p class="text-xl mb-12 font-light">
                        {t("launcher.mockup.description")}
                    </p>
                    <div class="flex flex-col lg:flex-row gap-5 lg:gap-10">
                        <a
                            href={localizePath(
                                "/download",
                                lang?.toString() || "en"
                            )}
                        >
                            <Button
                                style={{
                                    "max-width": "initial",
                                    width: "100%",
                                }}>{t("navbar.download")}</Button
                            >
                        </a>
                        <a
                            href={localizePath(
                                "/newsletter",
                                lang?.toString() || "en"
                            )}
                        >
                            <Button
                                style={{
                                    "max-width": "auto",
                                    width: "100%",
                                    "background-color": "#16a34a",
                                }}
                                >{t("newsletter.subscribe")}
                            </Button>
                        </a>
                    </div>
                </div>
                <div>
                    <img
                        class="w-full"
                        src={composeCDNAssetLink("launcher_mockup.png")}
                        alt="launcher_mockup"
                    />
                </div>
            </div>
        </div>
        <div class="py-10 bg-slate-800">
            <CaretIcon class="relative my-0 mx-auto w-5 h-5 z-30" />
        </div>
        <div
            class="relative h-auto lg:h-screen flex flex-row justify-start items-center py-20 lg:pt-40 lg:pr-20 bg-slate-900"
        >
            <div
                class="w-full z-20 flex flex-col-reverse lg:flex-row-reverse justify-between items-start lg:items-center gap-40"
            >
                <div class="py-0 px-10">
                    <h3 class="text-5xl lg:text-7xl mb-10 font-bold">
                        {t("home.createYourOwn")}
                    </h3>
                    <ul class="createYourOwn px-8 lg:pl-4 lg:pr-0">
                        <li class="mb-10 text-xl pl-5">
                            {t("home.createYourOwn_text1")}
                        </li>
                        <li class="mb-10 text-xl pl-5">
                            {t("home.createYourOwn_text2")}
                        </li>
                        <li class="mb-10 text-xl pl-5">
                            {t("home.createYourOwn_text3")}
                        </li>
                    </ul>
                    <div>
                        <a
                            href={localizePath(
                                "/download",
                                lang?.toString() || "en"
                            )}
                        >
                            <Button>{t("navbar.download")}</Button>
                        </a>
                    </div>
                </div>
                <div class="w-[80%] lg:h-full lg:w-auto">
                    <img
                        class="h-full"
                        src={composeCDNAssetLink("create_your_own.svg")}
                        alt="create_your_own"
                    />
                </div>
            </div>
        </div>
        <div
            class="h-auto flex flex-col justify-start items-center px-10 lg:px-0 py-32 lg:py-10 bg-slate-900"
        >
            <div
                class="w-full lg:w-4/5 flex flex-col justify-start"
                id="features"
            >
                <div class="mb-20">
                    <h3 class="text-5xl lg:text-9xl mb-10 font-bold">
                        {t("home.features")}
                    </h3>
                    <p class="text-base lg:text-3xl text-gray-200">
                        {t("home.features_subitle")}
                    </p>
                </div>
                <div
                    class="flex flex-col flex-wrap gap-20 justify-center w-full"
                >
                    <div
                        class="flex flex-col justify-center lg:flex-row flex-wrap gap-20 w-full"
                    >
                        <div
                            class="py-20 rounded-xl bg-gray-800 opacity-80 lg:min-w-[23rem] lg:max-w-[810px] flex flex-col justify-between items-center cursor-pointer hover:-translate-y-6 ease-in-out duration-300"
                        >
                            <img
                                class="mb-5"
                                src={composeCDNAssetLink(
                                    "curseforge_integration.svg"
                                )}
                                alt="curseforge_integration"
                            />
                            <p class="font-bold text-center text-2xl">
                                {t("features.curseforgeIntegration")}
                            </p>
                        </div>
                        <div
                            class="py-20 rounded-xl bg-gray-800 opacity-80 lg:min-w-[23rem] lg:max-w-[810px] flex flex-col justify-between items-center cursor-pointer hover:-translate-y-6 ease-in-out duration-300"
                        >
                            <img
                                class="mb-5"
                                src={composeCDNAssetLink("built_in_mods.svg")}
                                alt="built_in_mods"
                            />
                            <p class="font-bold text-center text-2xl">
                                {t("features.modsManager")}
                            </p>
                        </div>
                        <div
                            class="py-20 rounded-xl bg-gray-800 opacity-80 lg:min-w-[23rem] lg:max-w-[810px] flex flex-col justify-between items-center cursor-pointer hover:-translate-y-6 ease-in-out duration-300"
                        >
                            <img
                                class="mb-5"
                                src={composeCDNAssetLink(
                                    "auto_java_installation.svg"
                                )}
                                alt="auto_java_installation"
                            />
                            <p class="font-bold text-center text-2xl">
                                {t("features.javaAutoInstall")}
                            </p>
                        </div>
                    </div>
                    <div
                        class="flex flex-col lg:flex-row flex-wrap gap-20 justify-center"
                    >
                        <div
                            class="py-20 rounded-xl bg-gray-800 opacity-80 lg:min-w-[23rem] lg:max-w-[810px] flex flex-col justify-between items-center cursor-pointer hover:-translate-y-6 ease-in-out duration-300"
                        >
                            <img
                                class="mb-5"
                                src={composeCDNAssetLink(
                                    "easy_to_use_interface.svg"
                                )}
                                alt="easy_to_use_interface"
                            />
                            <p class="font-bold text-center text-2xl">
                                {t("features.easyToUse")}
                            </p>
                        </div>
                        <div
                            class="py-20 rounded-xl bg-gray-800 opacity-80 lg:min-w-[23rem] lg:max-w-[810px] flex flex-col justify-between items-center cursor-pointer hover:-translate-y-6 ease-in-out duration-300"
                        >
                            <img
                                class="mb-5"
                                src={composeCDNAssetLink("dark_light_mode.svg")}
                                alt="dark_light_mode"
                            />
                            <p class="font-bold text-center text-2xl">
                                {t("features.darkLightMode")}
                            </p>
                        </div>
                        <div
                            class="py-20 rounded-xl bg-gray-800 opacity-80 lg:min-w-[23rem] lg:max-w-[810px] flex flex-col justify-between items-center cursor-pointer hover:-translate-y-6 ease-in-out duration-300"
                        >
                            <img
                                class="mb-5"
                                src={composeCDNAssetLink(
                                    "automatic_updater.svg"
                                )}
                                alt="automatic_updater"
                            />
                            <p class="font-bold text-center text-2xl">
                                {t("features.automaticUpdater")}
                            </p>
                        </div>
                    </div>
                    <div
                        class="flex flex-col lg:flex-row gap-20 justify-center"
                    >
                        <div
                            class="py-20 rounded-xl bg-gray-800 opacity-80 lg:min-w-[23rem] lg:max-w-[810px] flex flex-col justify-between items-center cursor-pointer hover:-translate-y-6 ease-in-out duration-300"
                        >
                            <img
                                class="mb-5"
                                src={composeCDNAssetLink(
                                    "import_export_modpack.svg"
                                )}
                                alt="import_export_modpack"
                            />
                            <p class="font-bold text-center text-2xl">
                                {t("features.importModpacks")}
                            </p>
                        </div>
                        <div
                            class="py-20 rounded-xl bg-gray-800 opacity-80 lg:min-w-[23rem] lg:max-w-[810px] flex flex-col justify-between items-center cursor-pointer hover:-translate-y-6 ease-in-out duration-300"
                        >
                            <img
                                class="mb-5"
                                src={composeCDNAssetLink("ftb_integration.svg")}
                                alt="ftb_integration"
                            />
                            <p class="font-bold text-center text-2xl">
                                {t("features.ftb")}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div
            class={`relative h-auto bg-[url(https://edge.gdlauncher.com/assets/github_issues.jpg)] bg-no-repeat flex
            flex-col justify-end items-center p-20 overflow-hidden bg-slate-900`}
        >
            <div class="absolute top-0 bottom-0 left-0 right-0 z-10">
                <div
                    class="absolute top-0 bottom-0 left-0 right-0 opacity-95 bg-slate-900"
                >
                </div>
            </div>
            <div
                class="w-full lg:w-4/5 flex flex-col justify-start items-end gap-20 z-20 text-right text-5xl"
            >
                <h1
                    class="cursor-pointer max-w-2xl font-bold hover:text-yellow-400 hover:border-r-8 hover:border-yellow-400 hover:pr-4 ease-in-out duration-300"
                >
                    A launcher focused on the user experience
                </h1>
                <h1
                    class="cursor-pointer max-w-2xl font-bold hover:text-yellow-400 hover:border-r-8 hover:border-yellow-400 hover:pr-4 ease-in-out duration-300"
                >
                    A launcher that strengthens the Minecraft community
                </h1>
                <h1
                    class="cursor-pointer max-w-2xl font-bold hover:text-yellow-400 hover:border-r-8 hover:border-yellow-400 hover:pr-4 ease-in-out duration-300"
                >
                    A launcher that prioritize consumer input
                </h1>
            </div>

            <div
                class="absolute bottom-32 right-20 flex justify-center items-center z-10"
            >
                <div
                    class="absolute w-[10rem] h-[10rem] bg-yellow-200 rounded-full opacity-20"
                >
                </div>
                <div
                    class="absolute w-[20rem] h-[20rem] bg-yellow-200 rounded-full opacity-20"
                >
                </div>
                <div
                    class="absolute w-[30rem] h-[30rem] bg-yellow-200 rounded-full opacity-20"
                >
                </div>
            </div>
        </div>
        <ModLoaderSection client:visible pathname={Astro.url.pathname} />
        <DonateKofiSection />
    </div>
</MainWrapper>

<style>
    .createYourOwn li {
        list-style-image: url("https://edge.gdlauncher.com/assets/hexagon_teal.svg");
    }
    .createYourOwn li:first-child {
        list-style-image: url("https://edge.gdlauncher.com/assets/hexagon_orange.svg");
    }
    .createYourOwn li:last-child {
        list-style-image: url("https://edge.gdlauncher.com/assets/hexagon_yellow.svg");
    }
</style>
