---
import Layout from "../layouts/Layout.astro";
import { marked } from "marked";

// fetch(
//   "https://github.com/gorilla-devs/ToS-Privacy/blob/master/privacy-statement.md"
// )
//   .then((response) => response.text()) // or response.json() if it's a JSON file
//   .then((data) => {
//     console.log(data); // This is the content of the file
//   })
//   .catch((error) => console.error("Error fetching data: ", error));
---

<Layout
  title="About Me"
  description="Lorem ipsum dolor sit amet"
  pubDate={new Date("August 08 2021")}
  heroImage="/blog-placeholder-about.jpg"
>
  <div id="root"></div>
</Layout>
<script>
  import { marked } from "marked";
  const root = document.getElementById("root");
  const response = await fetch(
    "https://raw.githubusercontent.com/gorilla-devs/ToS-Privacy/master/privacy-statement.md"
  );
  const data = await response.text();
  root!.innerHTML = marked(data);
</script>
