---
import languages from "@/i18n/languages";
import { useTranslations } from "@/i18n/utils";
import CenteredWrapper from "@/layouts/CenteredWrapper.astro";
import composeCDNAssetLink from "@/utils/composeCDNAssetLink";
import { t } from "i18next";

export const getStaticPaths = async () => {
  const posts = await Astro.glob("./*.md").then(
    (posts) => {
      return posts.map(({ frontmatter, url }) => ({
        url: url,
        title: frontmatter.title,
        description: frontmatter.description,
        publishDate: frontmatter.publishDate,
        image: frontmatter.image,
      }));
    }
    // .sort((a, b) => {
    // 	new Date(b.publishDate) - new Date(a.publishDate)
    // })
  );

  return Object.keys(languages).map((lang) => ({
    params: { lang },
    props: { posts },
  }));
};

const { posts } = Astro.props;

const t = useTranslations(Astro.url.pathname);
---

<CenteredWrapper>
  <div
    class="relative flex flex-col justify-between items-center pt-10 lg:pt-20 pb-10 box-border h-[calc(100vh-5.5rem)] lg:h-screen bg-no-repeat"
  >
    <div class="flex flex-col justify-center items-center">
      <img
        class="w-32 pb-5"
        src={composeCDNAssetLink("gdlauncher_logo.svg")}
        alt="logo"
        class="cursor-pointer"
      />
      <h1 class="text-xl lg:text-4xl font-bold">{t("blog.title")}</h1>
    </div>
    {posts.map((post: any) => <div>{post.title}</div>)}
  </div>
</CenteredWrapper>
