---
import languages from "@/i18n/languages";
import { useTranslations } from "@/i18n/utils";
import composeCDNAssetLink from "@/utils/composeCDNAssetLink";
import ArticleCard from "@/components/ArticleCard/index.astro";
import MainWrapper from "@/layouts/MainWrapper.astro";
import { localizePath } from "@/utils/helpers";

export const getStaticPaths = async () => {
  let mdPosts: any = [];
  let mdxPosts: any = [];
  try {
    mdPosts = await Astro.glob("../../../articles/*.md");
  } catch {}
  try {
    mdxPosts = await Astro.glob("../../../articles/*.mdx");
  } catch {}

  let posts: any[] = [...(mdPosts || []), ...(mdxPosts || [])];

  posts = posts.map(({ frontmatter, url, file }) => ({
    url: url,
    title: frontmatter.title,
    description: frontmatter.description,
    date: frontmatter.date,
    author: frontmatter.author,
    image: frontmatter.image,
    slug: file.substring(file.lastIndexOf("/") + 1).split(".")[0],
  }));

  return Object.keys(languages).map((lang) => ({
    params: { lang },
    props: { posts },
  }));
};

const { posts } = Astro.props;
const { lang } = Astro.params;
const t = useTranslations(Astro.url.pathname);
---

<MainWrapper>
  <div
    class="relative flex flex-col justify-between items-center pt-32 lg:pt-50 pb-10 box-border bg-no-repeat"
  >
    <div class="flex flex-col justify-center items-center">
      <a href={localizePath("/", lang?.toString() || "en")}>
        <img
          class="w-32 pb-5"
          src={composeCDNAssetLink("gdlauncher_logo.svg")}
          alt="logo"
          class="cursor-pointer"
        />
      </a>
      <h1 class="text-xl lg:text-4xl font-bold">{t("blog.title")}</h1>
    </div>
    <div class="flex flex-col gap-20 pt-20 px-4">
      {posts.map((post: any) => <ArticleCard post={post} />)}
    </div>
  </div>
</MainWrapper>
