---
import HeadCommon from "@/components/HeadCommon.astro";
import Navbar from "@/components/Navbar/index.astro";
import Footer from "@/components/Footer/index.astro";
const url = new URL(Astro.request.url);
const currentPage = url.pathname;
const { frontmatter } = Astro.props;
import "./artycleStyle.scss";
---

<html>
  <head>
    <HeadCommon />
  </head>

  <body>
    <Navbar currentPage={currentPage} />
    <main class="articleMainWrapper">
      <h1 class="mainTitle">{frontmatter.title}</h1>
      <h5 class="mainSubtitle">
        Written on {frontmatter.date} by {frontmatter.author}
      </h5>
      <slot />
    </main>
    <Footer />
  </body>
</html>
