---
import HeadCommon from "@/components/HeadCommon.astro";
import Navbar from "@/components/Navbar/index.astro";
import Footer from "@/components/Footer/index.astro";
import "unocss-hmr-fix";
const url = new URL(Astro.request.url);
const currentPage = url.pathname;
const { frontmatter } = Astro.props;
import "unocss-hmr-fix";
---

<html>
  <body class="font-main w-full bg-gray-800 font-[ubuntu] overflow-x-hidden">
    <Navbar currentPage={currentPage} />
    <main
      class="relative flex flex-col justify-center items-center pt-1 pb-10 px-20 mx-auto box-border h-auto min-h-screen max-w-7xl mt-[6.5rem] bg-no-repeat text-center text-white"
    >
      <h1>{frontmatter.title} by {frontmatter.author}</h1>
      <slot />
      <p class="pt-20">Written on: {frontmatter.date}</p>
    </main>
    <Footer />
  </body>
</html>
