---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";
import "@fontsource/ubuntu";
import DocsSideNav from "../components/DocsSideNav.astro";
import "../styles/DocsStyle.css";

type Props = CollectionEntry<"docs">["data"];

const { title, category } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={category} />
    <style>
      body {
        font-family: "Ubuntu", sans-serif;
        /* background-color: rgba(29, 32, 40, 1); */
        background-image: linear-gradient(
            rgba(23, 29, 39, 0.3),
            /* Your specified semi-transparent color */ rgba(23, 29, 39, 0.3)
          ),
          url("../assets/bg.svg");
        background-size: cover;
        /* background-position: center; */
        background-repeat: no-repeat;
        background-color: rgba(29, 32, 40, 1);
      }
      main {
        width: calc(100% - 2em);
        max-width: 100%;
        margin: 0;
      }
      .hero-image {
        width: 100%;
      }
      .hero-image img {
        display: block;
        margin: 0 auto;
        border-radius: 12px;
        box-shadow: var(--box-shadow);
      }
      .prose {
        width: 720px;
        max-width: calc(100% - 2em);
        margin: auto;
        padding: 1em;
        color: rgb(var(--gray-dark));
      }
      .title {
        margin-bottom: 1em;
        padding: 1em 0;
        text-align: center;
        line-height: 1;
      }
      .title h1 {
        margin: 0 0 0.5em 0;
      }
      .date {
        margin-bottom: 0.5em;
        color: rgb(var(--gray));
      }
      .last-updated-on {
        font-style: italic;
      }
      #container {
        padding: 1em;
      }
    </style>
  </head>

  <body>
    <Header />
    <div
      id="container"
      class="grid min-h-screen max-w-6xl mx-auto transition-colors"
    >
      <aside
        aria-label="Sidebar navigation"
        id="sidenav-open"
        class="z-50 grid px-2 lg:px-6 lg:block grid-cols-[max-content_1fr] invisible target:visible lg:visible lg:translate-x-0 sticky top-0 max-h-screen -translate-x-full target:translate-x-0 transition-transform"
      >
        <DocsSideNav />
      </aside>
      <main
        aria-label="Main panel"
        class="max-w-[95vw] py-6 px-2 lg:px-6 mx-auto w-full"
      >
        <slot />

        <!-- <Footer /> -->
      </main>
    </div>

    <Footer />

    <style is:global>
      /** Side Navigation */
      #container {
        grid: [stack] 1fr / 1fr [stack] 4fr;
      }

      @media (max-width: 1024px) {
        #container {
          grid: [stack] 1fr / min-content [stack] 1fr;
        }
        #container > * {
          grid-area: stack;
        }
      }
    </style>
  </body>
</html>
