---
import HeadCommon from "@/components/HeadCommon.astro";
import Navbar from "@/components/Navbar/index.astro";
import Footer from "@/components/Footer/index.astro";
const url = new URL(Astro.request.url);
const currentPage = url.pathname;
import "./style.css";
---

<html>
  <head>
    <HeadCommon />
  </head>

  <body class="font-main w-full bg-gray-800 font-[ubuntu] overflow-x-hidden">
    <Navbar currentPage={currentPage} />
    <main class="container max-w-[80rem] mx-auto p-8">
      <slot />
    </main>
    <Footer />
  </body>
</html>
