---
import HeadCommon from "@/components/HeadCommon.astro";
import Navbar from "@/components/Navbar/index.astro";
import Footer from "@/components/Footer/index.astro";
const url = new URL(Astro.request.url);
const currentPage = url.pathname;
import "./style.css";
import { localizePath } from "@/utils/helpers";

const { isBlog } = Astro.props;
const { lang } = Astro.params;
---

<html class="bg-slate-800">
  <head>
    <HeadCommon />
  </head>
  <body class={!isBlog ? "mb-[78px]" : ""}>
    <div>
      {
        !isBlog && (
          <div class="h-20 lg:h-14 w-full p-4 lg:p-0 bg-blue-600 flex justify-center items-center text-white">
            <a
              href={localizePath(
                "/blog/curseforge-partnership-announcement",
                lang?.toString() || "en"
              )}
            >
              GDLauncher is evolving. Learn more about this on our latest
              article by clicking here
            </a>
          </div>
        )
      }
    </div>

    <Navbar currentPage={currentPage} isBlog={isBlog} />
    <main class="text-white">
      <slot />
    </main>
    <Footer />
  </body>
</html>
