---
import HeadCommon from "@/components/HeadCommon.astro";
import Navbar from "@/components/Navbar/index.astro";
import Footer from "@/components/Footer/index.astro";
const url = new URL(Astro.request.url);
const currentPage = url.pathname;
import "./style.css";
import { localizePath } from "@/utils/helpers";

const { isBlog } = Astro.props;
const { lang } = Astro.params;
---

<html>
  <head>
    <HeadCommon />
  </head>
  <div>
    {
      !isBlog && (
        <div class="h-14 w-screen bg-blue-600 flex justify-center items-center text-white">
          <a
            href={localizePath(
              "/blog/curseforge-partnership-announcement",
              lang?.toString() || "en"
            )}
          >
            GDLauncher is evolving. Learn more about this on our latest article
            by clicking here
          </a>
        </div>
      )
    }
  </div>

  <Navbar currentPage={currentPage} />
  <main class="text-white">
    <slot />
  </main>
  <Footer />
</html>
