---
import { APP_URLS } from "@/constants";
import { useTranslations } from "@/i18n/utils";
import Button from "../Button";
const t = useTranslations(Astro.url.pathname);
---

<div
  class={`relative flex flex-col justify-center items-center box-border
    bg-[url("https://edge.gdlauncher.com/assets/mc_forest.webp")] z-0 bg-no-repeat py-20 lg:py-32`}
>
  <div
    class="w-4/5 lg:w-full z-20 flex flex-col-reverse lg:flex-row justify-between items-center gap-20 max-w-7xl"
  >
    <div class="absolute top-0 bottom-0 left-0 right-0">
      <div
        class="absolute top-0 bottom-0 left-0 right-0 z-10 opacity-95 bg-slate-900"
      >
      </div>
    </div>
    <div class="py-0 px-4 max-w-5xl z-20">
      <h3 class="text-4xl lg:text-6xl mb-12 font-bold">
        {t("generic.donate")}
      </h3>
      <p class="text-xl mb-12 font-light max-w-lg">
        {t("generic.donate_kofi_text")}
      </p>
      <a href={APP_URLS.kofi} target="_blank">
        <Button style={{ "background-color": "#FF5E5B", height: "4rem" }}
          >{t("generic.donate_kofi_title")}
        </Button>
      </a>
    </div>
  </div>
</div>
