---
import Button from "./button/Button";
import Windows from "../assets/Windows";
import Apple from "../assets/Apple";
import Linux from "../assets/Linux";
import { DownloadLink } from "./DownloadLink";
---

<Button intent="primary" class="uppercase items-center">
  <DownloadLink client:only />
</Button>
