---
import yaml from "js-yaml";
import Button from "./button/Button";
import { RiArrowsArrowDownSLine } from "solid-icons/ri";

const downloadLinks = ["/download/windows", "/download/mac", "/download/linux"];
---

<Button
  items={downloadLinks}
  isDropdown={true}
  intent="primary"
  size="medium"
  class="items-center rounded-xsgd text-graygd underline bg-transparent shadow-none hover:bg-transparent"
  client:only
>
  <span>More download options</span>
</Button>
