---
import Button from "./button/Button";
import { Image } from "astro:assets";
import GdLauncherXCurseForge from "../assets/image.svg";
import CurseForge from "../assets/curseforge.svg";
import Ellipse from "../assets/ellipse.svg";
---

<div class="flex flex-col items-center justify-center relative gap-2">
  <div
    class="bg-bluegd-500 w-[80%] flex p-8 gap-8 mb-10 rounded-md flex-col md:flex-row"
  >
    <Image src={GdLauncherXCurseForge} alt="gdlauncher x curseforge" />
    <div class="flex flex-col justify-between basis-[50%] gap-4">
      <Image src={CurseForge} alt="curseforge" />
      <div class="flex flex-col">
        <span class="text-white font-bold text-[24px]"
          >GDLauncher x CurseForge</span
        >
        <span class="text-white"
          >GDLauncher: A new journey - App rewrite, new partnership and more</span
        >
      </div>

      <Button
        intent="transparent"
        class="text-white border-white font-bold w-full lg:w-1/2 px-5 py-2"
      >
        <a href="/blog/curseforge-partnership-announcement/">LEARN MORE</a>
      </Button>
    </div>
  </div>
  <Image
    src={Ellipse}
    alt="ellipse"
    class="absolute bottom-0 background -z-10 w-full"
  />
</div>

<style>
  .background {
    background-color: linear-gradient(
      rgba(23, 29, 39, 0.3),
      /* Your specified semi-transparent color */ rgba(23, 29, 39, 0.3)
    );
  }
</style>
