---
import Button from "./button/Button";
import {Image} from "astro:assets"
import GdLauncherXCurseForge from "../assets/image.svg"
import CurseForge from "../assets/curseforge.svg"

---

<div class="flex flex-col items-center justify-center">
    <Button intent="transparent" className="uppercase">creators can start</Button>
    <span class="text-[40px] text-white font-bold text-center">Earning $$$ through</span>
    <span class="text-[40px] text-white font-bold text-center">CurseForge Downloads</span>
    <div class="bg-bluegd-500 w-[80%] flex p-8 gap-8">
        <Image src={GdLauncherXCurseForge} alt="gdlauncher x curseforge"/>
        <div class="flex flex-col  justify-between basis-[50%]">
            <Image src={CurseForge} alt="curseforge"/>
            <div class="flex flex-col">
                <span class="text-white font-bold text-[24px]">GDLauncher x CurseForge</span>
            <span class="text-white">With GDLaunchers special access to the CurseForge Creator Program, modpack creators will still be supported!</span>
            </div>
            
            <Button intent="transparent" className="text-white border-white font-bold w-1/2">VISIT OUR PARTNERS</Button>
        </div>
    </div>
</div>