---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, "");
---

<a
  href={href}
  class:list={[className, { "underline underline-offset-4": isActive }]}
  {...props}
>
  <slot />
</a>

<style>
  a:hover {
    color: white;
  }
</style>
