---
import HeaderLink from "./HeaderLink.astro";
import { Image } from "astro:assets";
import Logo from "../assets/logo.svg";
import DownloadButton from "./DownloadButton.astro";
import { AiOutlineMenu } from "solid-icons/ai";
import { AiOutlineClose } from "solid-icons/ai";
import { APP_URLS } from "../consts";
import DocsSideNav from "./DocsSideNav.astro";

const { pathname } = Astro.url;
---

<header>
  <div class="closebtn" onclick="openNav()">
    <AiOutlineMenu class="text-graygd" />
  </div>
  <nav id="sidebar" class="relative">
    <div class="closebtn" onclick="closeNav()">
      <AiOutlineClose class="text-graygd" />
    </div>
    <a href="/" class="gdlogo">
      <Image src={Logo} alt="gdlauncher logo" width="173" height="40" />
    </a>
    <div class="internal-links">
      <HeaderLink class="text-graygd" href="/">Home</HeaderLink>

      <HeaderLink class="text-graygd" href="/blog">Blog</HeaderLink>
      <HeaderLink class="text-graygd" href="/docs">Docs</HeaderLink>
      <HeaderLink class="text-graygd" href={APP_URLS.socials.github}>
        Github
      </HeaderLink>
      
      <HeaderLink class:list={"newsletter"} class="text-graygd" href="#newsletter">
        Newsletter
      </HeaderLink>
      
    </div>
    <div class="sidenav">
      {pathname.includes("docs") && <DocsSideNav />}
    </div>

    <div class="social-links">
      <DownloadButton />
    </div>
  </nav>
  <a href="/" class="gdlogo gdlogo-mobile">
    <Image src={Logo} alt="gdlauncher logo" width="173" height="40" />
  </a>
</header>
<style>
  header {
    margin: 0;
    padding: 2rem;
  }
  h2 {
    margin: 0;
    font-size: 1em;
  }
  .closebtn {
    display: none;
    /* position: absolute; */
    top: 0;
    right: 0;
    padding: 1em;
    cursor: pointer;
  }
  .gdlogo-mobile {
    display: none;
  }
  @media screen and (max-width: 1081px) {
    .gdlogo-mobile {
      display: block;
      padding-top: 0;
    }
    header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row-reverse;
    }
  }
  .sidenav {
    display: none;
  }
  @media screen and (max-width: 1081px) {
    .sidenav {
      display: block;
    }
  }
  @media screen and (max-width: 1081px) {
    /* .gdlogo {
      padding-top: 1rem;
    } */
    .closebtn {
      display: block;
    }
  }
  @media screen and (min-width: 790px) {
    nav {
      display: flex;
    }
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8rem;
  }
  @media screen and (max-width: 1081px) {
    nav {
      display: none;
    }

    nav.visible {
      position: fixed;
      top: 0px;
      bottom: 0px;
      left: 0px;
      width: 100%;
      flex-direction: column;
      justify-content: start;
      background-color: rgba(29, 32, 40, 1);
      z-index: 20;
      align-items: center;
      min-width: 0;
    }
    nav > * {
      margin: 1rem;
    }
    .internal-links {
      min-width: 0;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  nav a {
    padding: 0.5em 0.5em;
    cursor: pointer;
  }
  @media screen and (max-width: 1081px) {
    nav {
      gap: 0rem;
      display: none;
    }
    #sidebar {
      overflow-y: scroll;
    }
  }
</style>

<script defer>
  window.addEventListener("resize", () => {
    if (window.innerWidth > 1081) {
      document.getElementById("sidebar").style.display = "flex";
    } else {
      if (!document.getElementById("sidebar").classList.contains("visible")) {
        document.getElementById("sidebar").style.display = "none";
      } else {
        document.getElementById("sidebar").style.display = "flex";
      }
    }
  });
  function openNav() {
    if (window.innerWidth <= 1081) {
      //   document.getElementById("sidebar").style.width = "100%";
      // document.getElementById("sidebar").style.display = "flex";
      document.getElementById("sidebar").style.display = "flex";
      document.getElementById("sidebar").classList.add("visible");
    }
  }

  function closeNav() {
    if (window.innerWidth <= 1081)
      document.getElementById("sidebar").style.display = "none";
    document.getElementById("sidebar").classList.remove("visible");
  }
  const newsletter = document.querySelector(".newsletter");
 
  console.log(newsletter)
  
  newsletter.addEventListener("click", () => {
    closeNav();
     const newsletterInput = document.getElementById("newsletter-email");
     setTimeout(() => {
       newsletterInput?.focus?.();
     }, 0);
  });
</script>
