---
import HeaderLink from "./HeaderLink.astro";
import { Image } from "astro:assets";
import Logo from "../assets/logo.svg";
import DownloadButton from "./DownloadButton.astro";
import Ellipse from "../assets/ellipse10.svg";
---

<header>
  <nav>
    <Image src={Ellipse} alt="lightning" class="absolute top-0" />
    <a href="/">
      <Image src={Logo} alt="gdlauncher logo" width="173" height="40" />
    </a>
    <div class="internal-links">
      <HeaderLink class="text-graygd" href="/">Home</HeaderLink>

      <HeaderLink class="text-graygd" href="/blog">Blog</HeaderLink>
      <HeaderLink class="text-graygd" href="/docs">Docs</HeaderLink>
    </div>
    <div class="social-links">
      <DownloadButton />
    </div>
  </nav>
</header>
<style>
  header {
    margin: 0;
    padding: 2rem;
  }
  h2 {
    margin: 0;
    font-size: 1em;
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8rem;
  }
  nav a {
    padding: 1em 0.5em;
    cursor: pointer;
  }
</style>
