---
// Component Script (JavaScript)
---

<div class="h-screen bg-darkgd -mt-24 relative">
  <div class="absolute top-0 left-0 right-0 h-24 bg-white curvy-top-style">
    {/* Curvy SVG or clip-path here */}
  </div>
  <div class="content-container">
    <p>Your Content Here</p>
  </div>
</div>


<style>

    

</style>
