name: Windows x64 Desktop Build

on: push

env:
  CARGO_TERM_COLOR: always

concurrency:
  group: "${{ github.workflow }} @ ${{ github.event.pull_request.head.label || github.head_ref || github.ref }}"
  cancel-in-progress: true

jobs:
  windows_x64:
    defaults:
      run:
        working-directory: ./GDLauncher
    if: contains(github.ref, 'refs/heads/develop') || contains(github.ref, 'refs/heads/release') || (github.event_name == 'push' && !contains(github.ref, 'refs/heads/develop') && !contains(github.ref, 'refs/heads/release') && contains(github.event.head_commit.message, '[RUN_ALL_CI_CHECKS]'))
    runs-on: windows-2022
    timeout-minutes: 60
    steps:
      - uses: actions/checkout@v3
        with:
          path: GDLauncher
      - uses: actions/setup-node@v3
        with:
          node-version: "18.16.0"
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: 1.68.2
          targets: x86_64-pc-windows-msvc
          components: clippy, rustfmt
      - name: Prepare
        shell: bash
        run: |
          echo "" > crates/carbon_app/src/db.rs
          cargo fmt --check
      - name: init
        shell: bash
        run: npm run init
      - name: Codegen
        shell: bash
        env:
          CARGO_INCREMENTAL: 0
          CARGO_NET_GIT_FETCH_WITH_CLI: true
        run: pnpm codegen
      - name: Build
        shell: bash
        run: pnpm build:win-x64
        env:
          CARGO_INCREMENTAL: 0
          CARGO_NET_GIT_FETCH_WITH_CLI: true
      # - name: Lint
      #   shell: bash
      #   run: pnpm lint
      - name: Clear target before tests to avoid folder getting too big
        shell: bash
        run: rm -rf target
      - name: Test
        shell: bash
        env:
          CARGO_INCREMENTAL: 0
          CARGO_NET_GIT_FETCH_WITH_CLI: true
        run: pnpm test
