---
// Component Script (JavaScript)
---

<span class="separator bg-bluegd-400"></span>

<style>
  .separator {
    
    width: 1px; /* Width of the separator line */
    padding: 0px 1px;
    position: absolute; /* Position the separator absolutely */
    top: 0;
    bottom: 0;
  }
</style>
