.buttonContainer {
  //   padding: 20px;
  padding: 20px 40px;
  border-radius: 20px;
  max-width: 250px;
  background-color: #2b6cb0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
